/storefront-reference-architecture/cartridges/app_storefront_base/
/storefront-reference-architecture/cartridges/bm_app_storefront_base/
/storefront-reference-architecture/cartridges/lib_productlist/
/storefront-reference-architecture/cartridges/modules/
/storefront-reference-architecture/cartridges/plugin_applepay/
/storefront-reference-architecture/cartridges/plugin_cartridge_merge/
/storefront-reference-architecture/cartridges/plugin_datadownload/
/storefront-reference-architecture/cartridges/plugin_giftregistry/
/storefront-reference-architecture/cartridges/plugin_instorepickup/
/storefront-reference-architecture/cartridges/plugin_productcompare/
/storefront-reference-architecture/cartridges/plugin_sitemap/
/storefront-reference-architecture/cartridges/plugin_wishlists/


/storefront-reference-architecture/node_modules/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/default/css/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/default/js/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/default/fonts/

/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/fr_FR/css/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/fr_FR/js/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/fr_FR/fonts/

/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/it_IT/css/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/it_IT/js/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/it_IT/fonts/

/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/ja_JP/css/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/ja_JP/js/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/ja_JP/fonts/

/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/zh_CN/css/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/zh_CN/js/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/zh_CN/fonts/

/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/en_GB/css/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/en_GB/js/
/storefront-reference-architecture/cartridges/app_storefront_base/cartridge/static/en_GB/fonts/

/storefront-reference-architecture/coverage/
/storefront-reference-architecture/npm-debug.log
/storefront-reference-architecture/cartridges.zip
/storefront-reference-architecture/.idea/
/storefront-reference-architecture/dw.json
/storefront-reference-architecture/sitegenesisdata/
/storefront-reference-architecture/mobilefirstdata/
/storefront-reference-architecture/storefrontdata/
/storefront-reference-architecture/demo_data_sfra/
/storefront-reference-architecture/demo_data_sfra.zip
/storefront-reference-architecture/.DS_Store
/storefront-reference-architecture/test/appium/webdriver/config.json
/storefront-reference-architecture/.vscode
/storefront-reference-architecture/.history
/storefront-reference-architecture/*.iml
/storefront-reference-architecture/.idea
/storefront-reference-architecture/test/acceptance/report
/storefront-reference-architecture/test/integration/config.json

/storefront-reference-architecture/.circleci/
/storefront-reference-architecture/.editorconfig
/storefront-reference-architecture/.eslintignore
/storefront-reference-architecture/.eslintrc.json
/storefront-reference-architecture/.gitignore
/storefront-reference-architecture/.istanbul.yml
/storefront-reference-architecture/.stylelintrc.json
/storefront-reference-architecture/CONTRIBUTING.md
/storefront-reference-architecture/PULL_REQUEST_TEMPLATE.md
/storefront-reference-architecture/README.md
/storefront-reference-architecture/bin/
/storefront-reference-architecture/bitbucket-pipelines.yml
/storefront-reference-architecture/codecept.conf.js
/storefront-reference-architecture/ismllinter.config.js
/storefront-reference-architecture/license.txt
/storefront-reference-architecture/package-lock.json
/storefront-reference-architecture/package.json
/storefront-reference-architecture/page-designer-components.md
/storefront-reference-architecture/test/
/storefront-reference-architecture/webpack.config.js

